header {
  text-align: center;
}
.images {
  width: 80%;
  margin: 0 auto;
}
.add_foto {
  text-align: center;
  margin-top: 50px;
}
.add_foto input {
  width: 400px;
  background: lightblue;
}
.add_foto span {
  font-size: 20px;
}
.add_foto button {
  background: lightgreen;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
}